<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <button class="button button-primary button-block" ng-click="printOS()">
      Check for device info
    </button>
    <p ng-if="(device != undefined) && (version != undefined)">You are running on {{device}}#{{version}}</p>
    <p ng-if="android">Android!</p>
    <p ng-if="ios">IOS!</p>
    <p ng-if="ipad">IPad!</p>
  </ion-content>
</ion-view>
